.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    max-width: 300px;
  }
  
  .submitButton {
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
  }
  

